body{
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: center;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*padding: 10px; */
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

.form{
    /*  #eee /**/
    background-color: #e0e0e0;
    margin: 0 auto;
    padding: 10px;
    border :1px groove #191919 ;
    border-radius: 5px;
}

#tabs {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.label{
  color: black;
  font-size: 90%;
}

input[type=checkbox], input[type=radio]{
  margin: 0px;
}
.dynamic-tabs-container .dynamic-tabs{
  background: 
}

.form-row > .col, .form-row > [class*=col-]{
  padding-right: 1px;
  padding-left: 1px;
}

#Cuerpo{
  background: #f7f7f7  ;
  padding:3px;
}

.ocultoEstacionamiento,.ocultoCaseta,.ocultoOtros {
  display: none;
}

.form-row {
  background-color: #e0e0e0;
}

.oculto{
   display: none;
}
.menosInfe{
  margin-bottom: -20px;
}

.menosInfe10{
  margin-bottom: -10px;
}

.btn{
   margin-bottom: 10px;
}

.sinMargin{
  margin-bottom: 0px!important;
}
.btn-PDF{
  height: 30px;
   margin-bottom: 0px!important;
  padding-top: 5px;
}

table.dataTable tbody th, table.dataTable tbody td{
  padding:1px;
}

.labelViaje{
  font-size: sans-serif;
  font-weight: bold;
}
.centro {
 margin-left: auto;
 margin-right: auto;
}

.centroDiv {
 text-align: center;
}
.izquierda{
 /* text-align: right;*/
  margin-left: 80%;
}
.Bold{
 /* text-align: right;*/
 font-weight: bold;
}
.btn-concent{
  background-color:#888f88;
  color: white;
}
:disabled.form-control, [readonly].form-control{
  background: #f5f5f5;
}
.botonTot {
  width: 95%;
  color:white!important;
  font-size: 20px;
}

.form-control::-ms-clear{
  display: none;

}
.form-group{
  margin-bottom: 0px;
}

.titulos{
  text-align: center;
  font-style: italic;
  font-weight: bold;
} 

.Secundario{
  display: none;
}

.ui-widget-header{
  background-color:white ;
  /*#fcefd8 #f6eef7 */
}

input{
    border: solid 0;
    border-radius: 3px;
}

input:required:invalid {
 
border: 1px groove #607BDD;
 
}

input:required:valid {
 
border: 1px groove #67CF72;
 
}



#result{
padding:15px;
margin-bottom:20px;
border:1px solid transparent ;
border-radius:4px ;

}

#HospedajeTransporte{
  display: none;
}
#Alimentos{
  display: none;
}
#Otros{
  display: none;
}

.general {
  background:#e0e0e0;
  text-align: center;
}
 .titulosPc{
  display: none;
 }

.margenSup{
  margin-top: 20px;
}

.TiempoSin{
padding:0px; 
}


.dibujarMargenes{
  border: 1px groove #191919;
  border-radius: 5px;
}


.resultSuccess {
color:##3c763d ;
background-color:#dff0d8 ;
border-color:#d6e9c6;
}

.ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
        } 

/* Barra de navegacion  */
#main-header {
	background: #333;
	color: white;
	height: 40px;
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 5px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	#logo-header .imagenIzq{
    float: left;
    padding-right: 4px;
  }
  

	#logo-header .site-name {
		/*display: block; */
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	 .site-name {
    /*display: block; */
    font-weight: 700;
    font-size: 1.2em;
  }
 
/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 40px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
/*    -*/
.botonAdd{
    display: block;
    width: 100px;
    /*height: 25px;

    /*background: #6B949F;
    padding: 0px;
    text-align: center;
    border-radius: 5px;*/
    color: #FFF!important;
    font-weight: bold; 
    font-size: 20px;
    /*margin-left: 85%;*/
    width: 100%;

}
.botonLarge{
    display: inline-block;
    width: 100%;
    height: 30px;
    background: #53bc4e;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    color: #FFF!important;
    font-weight: bold;  
    margin-left: auto;
    margin-right: auto;
}

.datosTabla{
	color: white;
}

#encabezado {
background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 10;
  width: 80%;
  margin: auto;
  overflow:hidden;
}

  .botonRemove{
  width:20px;
  height:20px;
  background-color:red;
  margin: 2px;
  padding:0px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:25px;
  line-height:25px;
  text-transform: uppercase;
  text-align: center;
  float:right;
  color: white!important;  
  
}

.botonRemove:hover{
  opacity: 0.75;
  -moz-opacity: .75;
  filter:alpha (opacity=75);
}

#inicioLog input {
    padding: 10px;
    font-size: 18px;
    outline: none;
    width: 370px;
}
#enviarLog{
    background-color: #1E69E3;
    color: white;
    padding: 8px;
    border: none;
    width: 200px;
}
.center{
    text-align: center;
}

.opcion{
    padding: 5px 0;
}

.barra{
    background-color:rgb(152, 196, 236);
    border-radius: 4px;
    padding: 10px;
}

.seleccionado{
    background-color: rgb(33, 90, 143);
    border-radius: 4px;
    color: white;
    padding: 10px;
}

#menu{
    background-color: #eee;
    padding: 20px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    color: #1E69E3;
    text-decoration: none;
}
#menu ul li a:hover{
    color: rgb(227, 109, 30);
    text-decoration: none;
}

#Navegacion{
    background-color: #eee;
    padding: 20px;

    width: 100%;
    margin: 0 auto;
}

#Navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
}
#Navegacion ul li{
    display: inline;
}
#Navegacion ul li a{
    color: #1E69E3;
    text-decoration: none;
}
#Navegacion ul li a:hover{
    color: rgb(227, 109, 30);
    text-decoration: none;
}
.cerrar-sesion{
    float: right;
} 


#container{
    background-color: #f2f2f2;
    width: 100%;
    border: 10%;
    
}
#container input{

}

.EnvioFormulario{
     width: 90px;
     background-color: #32a92b;
     color:white;
     height: 30px;
     font-weight: bold;  
}


#container .datepicker{
}
#container .Float01{
}

hr.someClass {
  background-color: rgba(69, 64, 99, 0.15);
  width: 100%;
  height: 1px;
 /* border-top: 1px solid black;*/
  margin: 0px;

}

#tabla {
     width: 100%;
}

#TablaIndividual tbody input {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#TablaIndividual .sorting .sorting_asc {
    width: 100px%!important;

}

#formularioGeneral {
  display: none;
  border-radius: 2px;
  padding: 10px 10px 0px 10px!important;
}

#formularioViaje {
  display: none;
  border-radius: 2px;
  padding: 10px 10px 0px 10px!important;
}

#formularioEstacionamiento {
  display: none;
  border-radius: 2px;
  padding: 10px 10px 0px 10px!important;
}

#formularioVale {
  display: none;
  border-radius: 2px;
  padding: 10px 10px 0px 10px!important;
}
#formularioValeProvisional {
  display: none;
  border-radius: 2px;
  padding: 10px 10px 0px 10px!important;
}

#formularioCaseta {
  display: none;
  border-radius: 2px;
  padding: 10px 10px 0px 10px!important;
}




#formularioGeneral .labelFormu {
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
  font-family: sans-serif;
 /* text-transform: uppercase; */
  width: 100%;
 /* font-weight: bold;*/
  /*padding-top: 10px;*/
}

#formularioGeneral .inputFormu {
  /*font-size: 13px;*/
  color: #555555;
  line-height: 1.5;
  /*text-transform: uppercase;*/
  width: 93%;
    /*padding: 5px!important;
    margin: 5px!important;
    border: 5px!important;*/
  padding-bottom: 11px;
}

.Formulario {
 /*display: none;*/
  border-radius: 5px;
  padding: 10px 10px 0px 10px!important;
}
  

.linea {
/*width: 100%;*/
border: 40px;
margin: 0px;
display: table-cell;

/*padding-top: 10px;
padding-bottom: 5px;*/	
}

.lineaNew {
width: 100%;
/*min-width: 600px;*/
border: 40px;
height: 80px;
display: table-cell;
vertical-align: bottom;
padding-top: 10px;
padding-bottom: 5px;
}

   .inputNewLine{
   /* width: 90%;
    padding-left: 10px;
    margin-left: 5px;*/
  }

  #formularioGeneral .Fecha{
      /* width: 100px;
       padding-left: 10px;
      margin-left: 5px;*/
      padding:3px;
      font-size: 13px;
  }



.columna{
  float:left;
  width: calc(16%);
}

.peque{
  float:left;
  width: calc(10%);
}

.may{
  float:left;
  width: calc(20%);
}

.o{
 width:95%!important; 
 display: table-row;

}
#nuevo {
  width: 100%;
  background: yellow;
}
/**************************************************************************/
#boton{
  text-align: center;
  width:auto;
  margin-left: 75%;
  height: 35px;
}

.boton{
  width:50px;
  height:50px;
  background-color:#03800b;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:32px;
  line-height:32px;
  text-transform: uppercase;
  text-align: center;
  float:right!important;
  color: white!important;
}

.boton:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}
.boton a{
  color:#fff;
  text-decoration:none;
  padding:5px 5px 5px 0;
}
/**************************************************************************/
#formularioGeneral .rs1.input{
/* width: calc((100% - 80px) / 2);*/
/*width: 50%;*/
 position: relative;
 float:left;
 padding: 2px;
}

/*------------------------------------------------------------------
[ Responsive ]*/
/* **********************************************************************************/
@media (max-width: 900px) {

#TitulosEstacionamiento,#TitulosCasetas,#TitulosOtros{
  display: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover
{
  width:97%;
}

.dynamic-tabs-container .tabs-dropdown .dropdown-menu{
  height: 50%;
}

.botonAdd{
    float: none;
    margin-left:auto;
    margin-right:auto; 
}

.Punto{
  display: none;
}

.principal{

    font-size: 16px;
    text-align: center;
    display: flex!important;
    justify-content: center;
  
}

  .botonRemove{
  width:50px;
  height:50px;
  background-color:red;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:32px;
  line-height:32px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-left:auto;
  margin-right:auto; 
  
  color: white;  

}

.botonRemove:hover{
  opacity: 0.75;
  -moz-opacity: .75;
  filter:alpha (opacity=75);
}

  #container .datepicker{
  /* width: 90%;*/
  }

  .columna{
    float:left;
    width: calc((100%) / 2);
  }

  #formularioGeneral {
    padding: 20px 25px 40px 25px !important;
  }

    .Formulario {
    padding: 20px 25px 40px 25px !important;
  }

    #formularioGeneral .rs1.input{
    width: calc((100%) / 2)!important;
       padding:0px;
       padding-top: 20px;
       padding-bottom: 20px;
    }
     #container .inputFormu{
     width: 90%;

  }
    .inputNewLine{
    /*width: 80%;*/
    padding-left: 10px;
    margin-left: 5px;
  }

  #formularioGeneral .Fecha{
      width: 90%;
      /*  padding-left: 10px;
      margin-left: 5px;*/
      font-size: 13px;
  }

  #titulos{
    display: none;
  }



}
/* **********************************************************************************/
@media (max-width: 576px) {
  .dynamic-tabs-container .tabs-dropdown .dropdown-menu li a{
    font-size: 20px;
  }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover
{
  width:95%;
}


.menosInfe{
  margin-bottom: 10px;
}
.btn{
  margin-bottom: 10px;
}
  
.Secundario{
  display:unset;
}


.botonAdd{
    float: none;
    margin-left:auto;
    margin-right:auto; 
}

#labelFechaCompro{
  font-size: 13px!important;
}


.botonRemove{
    margin-left:auto;
    margin-right:auto; 
}

    .columna{
      float:left;
      width: 100%;

    }

  .inputNewLine{
    /*width: 90%;
    padding-left: 10px;
    margin-left: 5px;*/
  }

  .lineaNew{
  width: 100%;
  }

    #formularioGeneral {
      padding: 20px 5px 30px 5px!important;
    }
      .Formulario {
      padding: 20px 5px 30px 5px!important;
    }

    #formularioGeneral input {
    /*  width: 90%;*/
    }

    #formularioGeneral .rs1.input{
       /*width: auto;*/
       padding:0px;
       padding-top: 20px;
       padding-bottom: 20px;
    }

    #container .inputFormu{
       width: auto;
    }
      #formularioGeneral .Fecha{
      	font-size: 15px;
       width: 75%;
       padding-left: 10px;
      margin-left: 5px;
  }
}

/*------------------------------------------------------------------

*/
.ui-tabs .ui-tabs-panel{
    padding:0px!important;
  background:#f5f5f5  ;
  /*#fef9f1 */ 
}

table.dataTable{
  background: white;
}